html, body,p {
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5;
    /* margin-top: 20px; */
    font-family: "Source Sans 3", sans-serif;
    font-size: 13px;
    color: #000;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

}

.container{
    width: 375px;
    /* margin: 0px auto; */
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 17px 15px;
    border-bottom: 1px solid #C6C6C6;
}

article{
    background-color: #fff;
    margin-bottom: 30px;
}

h1, h2, h3{
    margin: 0;
    font-size: 13px;
    font-weight: 700;
}




.logo{
    width: 127px;
    height: 33px;
}

.avatar{
    width: 34px;
    height: 34px;
    border-radius: 50px;
}

.post-header{
    display: flex;
}

.post-header .avatar{
    padding: 12px 10px 12px 12px;
}

.post-header h1{
   padding-top: 14px;
}

.post-header p{
    font-size: 12px;
    margin: 0;
    line-height: 1;
}

.post-image{
    width: 100%;
}

.content-align{
    padding-left: 12px;
}

.icons{
    width: 27px;
}

.post-icons{
    /* margin-top: 21px; */
    padding: 20px 17px 11px 0px;
    display: flex;
    gap: 10px;
}

.likes{
    padding: 0px 17px 12px 0px;
}

.comment-section{
    display: flex;
    padding-bottom: 16px;
}

.user-name{
    padding-right: 5px;
}

