* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    /* margin-top: 20px; */
    font-family: "Source Sans 3", sans-serif;
    font-size: 13px;
    color: #000;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

}

.container{
    width: 375px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 17px 15px;
    border-bottom: 1px solid #C6C6C6;
}


.logo{
    width: 127px;
    height: 33px;
}

.avatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

article{
    background-color: #fff;
    margin-bottom: 30px;
}

.post-header{
    display: flex;
    align-items: center;
    padding: 12px;
}

.post-header .avatar{
    margin-right: 8px;
}

.post-user-info{
    padding-top: 5px;
}

.post-user-name{
    font-weight: 800;
    line-height: 1.1;
}

.post-user-location{
    font-size: 12px;
}

.post-image{
    width: 100%;
}

.post-content{
    padding: 0 12px;
}

.post-icons{
    padding-top: 20px;
    padding-bottom: 11px;
    display: flex;
    gap: 15px;
}

.icons{
    width: 27px;
    height: 27px;
}

.icon-btn{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2s;
}

.icon-btn:hover,
.icon-btn:focus{
    opacity: 0.6;
}


.likes-count{
    font-weight: 700;
    padding-bottom: 11px;
}

.comment-section{
    display: flex;
    padding-bottom: 16px;
}

.comment-user-name{
    padding-right: 5px;
    font-weight: 700;
}

